{%extends 'base.html'%}
{% load static %}  
{%block title%}Change Password {%endblock title%}
{%block body%}
 
<form action="" method="post" novalidate> 
     {% csrf_token %}
     {% if form.non_field_errors%}
   {% for error in form.non_field_errors%}
    <p>{{error}}</p>
   {% endfor %} 
{% endif %} 
<div class="shadow-lg p-6   bg-body rounded  ">
{% for fm in form%}
  {{fm.label_tag}} {{fm}} {{fm.errors|striptags}}<br><br>
{% endfor%}
     

<input type="submit" class="passwordsave" value="save">
<a href="{% url 'userlogin' %}">Login here</a> 

</div>
</form>
{% endblock body%}